<div class="col-md-6">
	<h2>User List</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="hidden">Id</th>
				<th>User</th>
				<th>Password</th>
				<th>Enabled</th>
				<th>Roles</th>
				<th><button class="btn btn-info" (click)="addUser()"> Add User</button></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td class="hidden">{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>********</td>
				<td>{{user.enabled}}</td>
				<td>
					<span *ngFor="let role of user.roles; let isLast=last" >
				    	{{role.name}}{{isLast ? '' : ', '}}
				    </span>
				</td>
				<td>
					<button class="btn btn-primary" (click)="editUser(user)"> Edit</button>
					<button class="btn btn-danger" (click)="deleteUser(user)" style="margin-left: 20px;"> Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>